# Python virtual environments
.venv/
venv/

# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter/IPython
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data files
/data/raw/
/data/processed/
*.csv

# System files
.DS_Store
Thumbs.db

# Logs and outputs
*.log

# OS/Editor swap files
*.swp
*.swo
